{% extends "account/base.html" %}

{% block title %}Customer Dashboard{% endblock title %}

{% block maincontent %}

<h1 class="text-center">Customer Dashboard</h1>

<form action="{% url 'change_password' %}" method="post">
    {% csrf_token %}
    <button class="btn btn-danger">Change Password</button>
</form>

{% if perms.product.add_product %}
    <a class="nav-link" href="{% url 'add_product' %}">Add Product</a>
{% endif %}

{% if perms.product.view_product %}
    <a class="nav-link" href="{% url 'view_product_list' %}">View Product</a>
{% endif %}

{% endblock maincontent %}
